@font-face {
    font-family: Bahnschrift Light;
    src: url(/assets/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF);
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.family-chrift {
    font-family: Bahnschrift Light;
}

/* ------------------------------
sign in
---------------------------------- */
.sign-row {
    height: 100vh;
}

.sign-form {
    border: 1px solid #c5c5c5;
    padding: 30px;
    border-radius: 5px;
}

.sign-input {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    border: 1px solid #c5c5c5 !important;
    border-radius: 8px;
    height: 45px;
    padding: 0px 15px;

}

.sign-input::placeholder {
    color: #a6a0a0;
}

.btn-fill {
    width: 222px;
    height: 41px;
    background: var(--black);
    border-radius: 8px;
    margin: 0px 10px;

}

.btn-fill a {
    text-decoration: none !important;
    color: white !important;
    font-weight: 600;
}

.btn-fill:hover {
    background-color: transparent;
    border: 1px solid var(--black);
    color: var(--black) !important;
}

.btn-fill:hover a {
    color: var(--black) !important;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--black);
    color: white;
    transition: all 0.3s;
    padding: 30px;
    padding-bottom: 10px;
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content {
    width: 100%;
    padding: 15px;
    min-height: 100vh;
    transition: all 0.3s;
}

.ml {
    margin-left: 250px;
}

/* -------------------
sidebar content
------------------------- */
.side-list {
    list-style: none;
}

.side-list li {
    padding: 13px 0px;
    border-bottom: 1px solid white;
}

.side-list li i {
    margin-right: 10px;
    font-size: 18px;
}

.side-list li a {
    color: white;
    text-decoration: none;

}

.side-list li:hover,
.side-list li:hover i .side-list li:hover a {
    color: yellow;
}

.side-list .active i {
    color: yellow !important;
}

/* -----------------------
main header
------------------------ */
.navbar {
    background-color: var(--black);

}

.side-bar-btn:focus {
    outline: none;
    box-shadow: none;
}

.side-bar-btn i {
    color: white;
    font-size: 22px;
}

.header-list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
}

.header-list li {
    margin: 0px 5px;
}

.header-list li button {
    font-size: 18px;
    margin-right: 6px;
    text-decoration: none;
    background-color: white;
    border: none;
    border-radius: 3px;
}

.header-list li button a {
    font-size: 16px;
    margin-right: 6px;
    text-decoration: none;
    color: var(--black);

    font-weight: 600 !important;
}

.header-list li a {
    font-size: 18px;
    color: white;
    margin-right: 6px;
    text-decoration: none;
}

.header-list li i {
    font-size: 14px;
    color: white;
    margin-right: 6px;
}

/* ------------------------
main body
--------------------- */
.main-heading h1 {
    font-size: 22px;
    color: var(--black);
}

.page-item.active .page-link {
    background-color: var(--black);
    border-color: var(--black);
    color: white;
}

.action-icons a i {
    font-size: 16px;
    color: var(--black);
}



/* ----------------------------
Page
----------------------------- */
.account-dp {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.account-btn {
    background-color: transparent;
    border: none;
    /* width: 140px; */
    color: white;
    width: 100%;
    display: flex !important;
}
.dropdown-toggle::after{
    right: -5px;
}
.card {
    padding: 20px;
    min-height: 280px;
    text-decoration: none;
    color: #18293D;
    border-radius:0px 0px 8px 8px;
    height: 100%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 5px solid #18293D;
  
}

.dot{
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius:  100% 0 8px 0px;
    bottom: 0;
    right: 0;
    background-color: #18293D;
}
.card:hover .dot{
    background-color: white;
}
.card-btn{
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 0px 0px 8px 8px !important;
}
.card-icon {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-icon i {
    font-size: 45px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background-color: var(--black);
    color: white;
}

.card:hover .card-icon {
    background-color: white;
    color: var(--black);
}

.card:hover .card-icon i {
    color: var(--black);
}

.header-dropdown {
    left: -10px !important;
}

.btn-fill-2 {
    width: 222px;
    height: 41px;
    background: var(--black);
    border-radius: 8px;
    margin: 0px 10px;

}

.btn-fill-2 a {
    text-decoration: none !important;
    color: white !important;
    font-weight: 600;
}

.card:hover .btn-fill-2 a {
    text-decoration: none !important;
    color: white !important;
    font-weight: 600;
}

.card:hover .btn-fill-2 {
    background-color: transparent;
    border: 1px solid white;
    color: var(--black) !important;
}

.btn-fill-2:hover a {
    color: var(--black) !important;
}

.dropzone {
    border: 1px solid #c5c5c5 !important;
    border-radius: 7px;
    padding: 0px;
}

.no-decoration {
    text-decoration: none;
}

/* isotope */
.active-port {
    color: var(--yellow) !important;
    text-decoration: underline !important;
    font-weight: bold !important;
}

/* .state__list{
    @media only screen and (max-width:710px){
flex-direction: column;    }
} */
.state__list--item {
    margin: 0px 5px;
    white-space: nowrap;
    background-color: transparent;
    border: none;

    /* 
    @media only screen and (max-width:710px){
        margin: 10px 5px;
        width: 100% !important;
    } */
}

.previous-body {
    min-height: 110vh;
}



/* ===================== FILE INPUT ===================== */
.file-area {
    width: 100%;
    position: relative;
}
.file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.file-area .file-dummy {
    width: 100%;
    /* padding: 30px; */
    padding-top: 30px;
    padding-bottom: 60px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px dashed rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: background 0.3s ease-in-out;
}
.file-area .file-dummy .success {
    display: none;
}
.file-area:hover .file-dummy {
    background: rgba(255, 255, 255, 0.1);
}
.file-area input[type=file]:focus + .file-dummy {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline: -webkit-focus-ring-color auto 5px;
}
.file-area input[type=file]:valid + .file-dummy {
    border-color: rgba(0, 255, 0, 0.4);
    background-color: rgba(0, 255, 0, 0.3);
}
.file-area input[type=file]:valid + .file-dummy .success {
    display: inline-block;
}
.file-area input[type=file]:valid + .file-dummy .default {
    display: none;
}
.form{
    border: 1px solid #c5c5c5;
    padding: 15px;
    border-radius: 8px;
}


.data-table{
    width: 100% !important;
    max-width: 580px !important;
    min-width: 100% !important;
    overflow-x: scroll !important;
}
.data-table #dataTable{   
    width: 1100px !important;
    overflow-x: scroll !important;
}














